.banner .swiper-container {
  height: 400px;
}
.c-main-center{
  width:950px;
}
.c-main-center .title:first-child{
  margin-top: 0;
}
.c-main-center .title{
  height: 40px;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
  color: #333333;
  background: white;
  border-radius: 3px 3px 0 0;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.recommend li{
  margin-right: 10px;
  margin-bottom: 10px;
}
.recommend li:nth-child(3n){
  margin-right: 0;
}
.recommend a{
  display: block;
  width: 310px;
  height:200px;
  overflow: hidden;
  position: relative;
  transition: all .5s ease;
}
.recommend a img{
  width:100%;
  height: 100%;
}
.recommend a .text{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgba(102,102,102,.8);
  overflow: hidden;
  transition: all .5s ease;
}
.recommend a .text h3{
  padding: 20px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  font-size: 20px;
  color: white;
  text-align: center;
  
}
.recommend a .text p{
  color: white;
  overflow: hidden;
  line-height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.recommend a:hover .text{
  height: 100%;
}

.latest-release li{
  height: 150px;
  margin-bottom: 10px;
}
.latest-release li:last-child{
  margin-bottom: 0;
}
.latest-release a{
  display: inline-block;
  background: white;
  padding: 10px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .5s ease;
  border-left:2px  solid white;
}
.latest-release a:hover{
  background: rgba(215, 216, 228,1);
  border-left-color: rgba(95, 124, 152,1);
}
.latest-release a img{
  width: 26%;
  height: 100%;
}
.latest-release a .text{
  height: 100%;
  width: 72%;
  color: #333333;
}
.latest-release a h3{
  height: 30px;
}
.latest-release a .desc {
  height: 60px;
  overflow: hidden;
}
.latest-release a .date {
  height: 30px;
  overflow: hidden;
}


.c-main-right .title{
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background: white;
  border-radius: 3px 3px 0 0;
}
.c-main-right .date{
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px ;
}

.technical-label ul{
  padding:0 10px;
  margin: 10px 0;
  background: white;
}
.technical-label ul li a{
  margin:10px 5px;
  color: #333333;

}

.technical-label ul li a:hover{
  color: rgba(0, 180, 255,1);
}

.hot-articles ul{
  padding:0 10px;
  margin: 10px 0;
  background: white;
}
.hot-articles ul a{
  color: #333333;
}




.link{
  background: white;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.link a{
  color: #333333;
  display: inline-block;
  padding: 0 20px;
}
.link a:hover{
  color: rgba(0, 180, 255,1);
}